language: node_js
cache:
  directories:
  - node_modules
  - "$HOME/.electron"
  - "$HOME/.cache"
matrix:
  include:
  - os: osx
  - os: linux
node_js:
  - "14"
  - node
  - lts/*
script: "npm run-script lint && npm run docs && npm run-script test-travis"
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
